@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}

html {
  font-size: 62.5%;
}

.full-width{
  width: 100%;
}

.whiteText{
  color:white !important;
}
.hidden{
  display: none;
}
.visible{
  display: block;
}
body{
  font-weight: 400;
  font-size: 2rem;
  color: #fff;
  padding: 3rem 0;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.55;
  background-color: #040C1A;
}

main {
  width: 80rem;
  height: 90vh;
  margin: 0 auto;
  position: relative;
  display: block;
  background-color: #091833;
  overflow: hidden;
}


.background {
  position: absolute;
      height: 100%;
      opacity: 0.5;
      width: 100%;
      z-index: -1;
      pointer-events: none;
}
.background::before {
  position: absolute;
  content: "";
  background: url(/img/background.png);
  background-repeat: no-repeat;
  opacity: 0.04;
  background-size: 104rem;
  top: -25rem;
  z-index: 0;
  bottom: 0;
  overflow: hidden;
  left: 1rem;
  right: 0;
}

.background__inside {
  background: #133E7C;
  top: 13px;
  right: -51px;
  width: 100rem;
  position: absolute;
  height: 31rem;
  border: 3px solid #D10C76;
  transform: rotate(169deg);
  z-index: -1;
}

/*
Scrollbar Styling */

::-webkit-scrollbar {
  width: 1.5rem;
  height: 1.5rem;
}

::-webkit-scrollbar-thumb {
  background: #d10c76;
  border-radius: 50px;
  border: 5px solid #091833;

}

::-webkit-scrollbar-button {
  height: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff47a9;
}
::-webkit-scrollbar-thumb:active {
  background: #820347;
}
::-webkit-scrollbar-track {
  background: #133e7c;
  border: 5px solid #091833;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #133e7c;
}
::-webkit-scrollbar-track:active {
  background: #163764;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
