body,
input,
button {
  font-family: 'Squada One', cursive;
  color: #fff;
  background-color: #0ABDC6;
  width: 20rem;
  height: 5rem;
  font-size: 2rem;
  letter-spacing: 3px;
  border-radius: 5px;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  text-align: center;
}
@media(max-width: 1024px) {
  body,
  input,
  button {
    font-size: 1em;
  }
}
input:focus,
button:focus {
  outline:0;
}

.headerLogin{
  font-family: Squada One, cursive;
  letter-spacing: 4px;
  font-size: 3rem;
}
.backgroundUsername{
  background:rgba(24,24,24,0.9);
  width:50%;
  margin:0 auto;
  height: 10rem;
}


input[type=text] {
  border: none;
  border-bottom: solid 2px #D10C76;
  /*font-size: 1em;*/
  background-color: transparent;
  color: white;
  padding: .4em 0;
  /*//margin: 2ex 0;*/
  /*width: 100%;*/
  max-width: 18em;
  display: block;
  margin: 0 auto;
}

.form-control{
  margin: 2rem auto!important;
}

.inputUsername{
  height: 80%;
  font-size: 4rem;
  width: 90%;

}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.call-exit-button,
.hangup-button,
.audio-button-true,
.audio-button-false,
.video-button-true,
.video-button-false,
.fullscreen-button {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: rgba(44, 44, 44, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  box-shadow: .2ex .2ex 1.5em #444;
  transition: all .2s ease-out;
  margin: 0 .4em;
  cursor: pointer;
  z-index:99999
}
.call-exit-button:hover,
.hangup-button:hover,
.audio-button-true:hover,
.audio-button-false:hover,
.video-button-true:hover,
.video-button-false:hover,
.fullscreen-button:hover {
  box-shadow: .4ex .4ex 3em #666;
  background: rgba(64, 124, 247, 1)
}
.hangup-button{
  background:red;
}

ul.tabs {
  display: flex;
  border-bottom: 1px solid #D7DBDD;
  list-style-type: none;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.tab button {
  cursor: pointer;
  padding: 5px 30px;
  color: #16A2D7;
  font-size: 30px;
  border-bottom: 2px solid transparent;

}


ul.tabs li button{
  background: none;
  border:none;
  color:white;
}

ul.tabs li button.tab-link-active{
  color:#D10C76;
  border-bottom: 1px solid;
}



#test{
  border: 2px solid #D10C76;
  border-radius: 10px;
}



#ownVideoStream {
  bottom: 0;
  float: left;
  width: 7%;
  margin-right: 100%;
  clear: both;
  height: 16vh;
  position: fixed;
  border: 0;
  margin-bottom: 20px;
  border-radius: 0;
}
#ownVideoStream video{
  width:80%;
}
.otherPeopleDiv {
  /*float: left;*/
  width: 32%;
  /*height: 280px;*/
  padding: 10px;
}

.otherPeopleDiv video {
  width: 100%;
  height: 100%;
}

.usersInTeam{
  display:flex;
  width: 100%;
  list-style-type: none;
}


.you-left,
.remote-left,
.audio-button-true .on,
.video-button-true .on,
.video-button-false .off,
.fullscreen-button .on,
.room-occupied {
  display: none;
}
:-webkit-full-screen .fullscreen-button .on {
  display: block;
}
:-moz-full-screen .fullscreen-button .on {
  display: block;
}
:-ms-fullscreen .fullscreen-button .on {
  display: block;
}
:fullscreen .fullscreen-button .on { /* spec */
  display: block;
}
:-webkit-full-screen .fullscreen-button .off {
  display: none;
}
:-moz-full-screen .fullscreen-button .off {
  display: none;
}
:-ms-fullscreen .fullscreen-button .off {
  display: none;
}
:fullscreen .fullscreen-button .off { /* spec */
  display: none;
}
/* deeper elements */
:-webkit-full-screen video {
  width: 100%;
  height: 100%;
}
.guest-hangup + .auth .you-left {
  display: inline;
}
.full .room-occupied,
.host-hangup + .auth .remote-left,
.recent-room {
  display: block;
}
.recent-room {
  color: #4285F4;
  margin: 1ex 1em;
}
.remote-video {
  display: block;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.local-video {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  transition: all .3s;
}
.established .local-video {
  margin: 10px;
  max-height: 17%;
  max-width: 17%;
  height: auto;
  width: auto;
}
.media-bridge,
.local-video,
.remote-video {
  position: absolute;
  height: 100%;
  width: 100%;
}
.auth {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index:99999999;
}
.primary-button {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: #4285F4;
  border: none;
  color: white;
  font-size: 0.8em;
  margin: 0 5px 20px 5px;
  width: 8em;
  line-height: 3ex;
  padding: 1ex 0.7em;
  text-align: center;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
}
.media-controls {
  display: flex;
  margin: 2ex 0;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}
.svg {
  width: 1.4em;
}
.room-occupied,
.request-access,
.waiting,
.request-access,
.grant-access,
.waiting {
  overflow: hidden;
  padding: 0 1em;
  box-sizing: border-box;
  width: 100%;
  background: rgba(0, 0, 0, .8);
  /* Initially we don't want any height, and we want the contents to be hidden */
  max-height: 0;
  transition: max-height .3s ease;
}
.full + .auth .room-occupied,
.guest-hangup + .auth .request-access,
.join + .auth .request-access,
.approve + .auth .grant-access {
  transition-delay: .3s;
  /* Set the max-height to something large. In this case there's an obvious limit. */
  max-height: 20ex;
}
.host-hangup + .auth .waiting,
.create + .auth .waiting {
  /* Set the max-height to something large. In this case there's an obvious limit. */
  max-height: 20ex;
}
.established + .auth .hangup-button {
  display: flex;
}
#test{
  width: 100%;
}

.messages__container{
  padding: 0 5rem;
  text-align: left;
}


@media(max-width: 768px) {
  .otherPeopleDiv{
    width:100%;
  }
  .ownVideo{
    width: 27%;
  }
}
