body,
input,
button {
  margin: 0;
  font-family: Sans-Serif;
}

/* @media(max-width: 1024px) {
  body,
  input,
  button {
    font-size: 1em;
  }
} */
input:focus,
button:focus {
  outline:0;
}

.username__article {
  padding: 5rem 0;
}

.headerLogin{
  font-family: Squada One, cursive;
  letter-spacing: 4px;
  font-size: 3rem;
  text-align: center;
  margin: 2rem 0;
}
.backgroundUsername{
  background:rgba(24,24,24,0.9);
  width:50%;
  margin:0 auto;
  padding: 1.5rem 0;
}

.username__article__enable {
  display: flex;
  align-items: center;
  padding: 15rem 0 0 0;
  margin: 0px 20rem;
}

.username__article__enable__text {
  margin-right: 2rem;
}

.username__article__enter {
  margin: 2rem 20rem;
  text-align: start;
}



input[type=text], textarea {
  border: none;
  border-bottom: solid 2px #D10C76;
  /*font-size: 1em;*/
  background-color: transparent;
  /*color: white;*/
  padding: .4em 0;
  /*//margin: 2ex 0;*/
  /*width: 100%;*/
  max-width: 18em;
  display: block;
  margin: 0 auto;
  background-color: rgba(0,0,0,.2);
  border-radius: 5px;
  padding: 10px;
}

textarea{
  width: 80%;
}

#form__chat {
  padding: 0 5rem;
  position: absolute;
  bottom: -3px;
  left: 12rem;
  z-index: 9;
}

.input-group {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.input-group-btn {
  margin-left: 2rem;
}

.input-group-btn-submit {
  display: flex;
  align-items: center;
  border: none;
  font-family: 'Squada One', cursive;
  color: #fff;
  background-color: #0ABDC6;
  height: 4rem;
  font-size: 2rem;
  letter-spacing: 3px;
  border-radius: 5px;
  padding: 0 1rem;
  text-align: center;
  cursor: pointer;
}

.input-group-btn-submit:hover {
  box-shadow: inset 0 0 5px #000000;
}

.input-group-btn-img {
  margin-left: 1rem;
}


.form-control{
  margin: 20px 0px !important;
  width: 30rem;
  resize: none;
  height: 5rem;
}

.inputUsername{
  height: 80%;
  font-size: 4rem;
  width: 90%;

}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.call-exit-button,
.hangup-button,
.audio-button-true,
.audio-button-false,
.video-button-true,
.video-button-false,
.fullscreen-button {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  transition: all .2s ease-out;
  margin: 0 .4em;
  cursor: pointer;
  z-index:9;
}
.call-exit-button:hover,
.hangup-button:hover,
.audio-button-true:hover,
.audio-button-false:hover,
.video-button-true:hover,
.video-button-false:hover,
.fullscreen-button:hover {
  background: #133e7c;
}


ul.tabs {
  display: flex;
  list-style-type: none;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 15px;
  padding: 20px 0;
  border-top: 2px solid rgb(209, 12, 118);
}
.tab button {
  cursor: pointer;
  padding: 5px 30px;
  color: #16A2D7;
  font-size: 30px;
  border-bottom: 2px solid transparent;

}


ul.tabs li button{
  background: none;
  border:none;
  color:white;
  font-size: 1.25em;
}

ul.tabs li button.tab-link-active{
  color:#D10C76;
  border-bottom: 1px solid;
}

.background__inside__team{
  background: #133E7C;
  top: 12%;
  right: -79px;
  width: 107rem;
  position: absolute;
  height: 45%;
  border: 3px solid #D10C76;
  transform: rotate(169deg);
  z-index: 2;
}

.background__inside__team__shade{
  position: absolute;
  width: 100vh;
  height: 100vw;
  top: 0;
  background-color: rgb(0, 0, 0, 0.6);
}

.teamname__container{
  z-index: 4;
  position: relative;
}

.teamname__container-title{
  margin-bottom: 30px;
}

.teamname__container__input{
  max-width: 100% !important;
  width: 45%;
  height: 60px;
  text-align: center;
  font-size: 3rem;
}

.teamname__container::before{
  background: #133E7C;
  top: 13px;
  right: -51px;
  width: 100rem;
  position: absolute;
  height: 31rem;
  border: 3px solid #D10C76;
  transform: rotate(169deg);
  z-index: -1;
}

.room__host__button-container{
  display: flex;
  flex-flow: wrap;
  margin: 0 auto;
  width: 90%;
}

.room__host__button-grid{
  border: none;
  background-color: #4abec6;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  transition: 0.2s;
  font-size: 1.7rem;
  padding: 1rem 0;
  margin: 0 auto;
  width: 150px;
}

.room__host__button-grid:hover{
  background-color: #091833;
  cursor: pointer;
  color: #d11676;
}

.vraag__post{
  position: relative;
  padding: 20px 30px;
  width: 70%;
  margin: 0px auto 40px auto;
  background: #1d1d1d;
  box-shadow: 0 0px 1px rgba(0,0,0,0.3), -3px -3px 6px rgba(0,0,0,0.2);
  word-break: break-all;
  height: 20rem;
}

.vraag__post:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-width: 30px 30px 0 0;
  border-style: solid;
  border-color: #353535 #091833;
  -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.3), -3px -3px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0px 0px rgba(0,0,0,0.3), -3px -3px 4px rgba(0,0,0,0.2);
  box-shadow: 0 0px 0px rgba(0,0,0,0.3), -3px -3px 4px rgba(0,0,0,0.2);
}

.vraag__post__title{
  font-size: 2.5rem;
  color: #d11676;
}

.vraag__post__code {
  color: #d10c76;
}

.vraag__post__loading {
  width: 8rem;
}

#test{
  width: 90% !important;
  margin: 0 auto;
  border: 2px solid #D10C76;
  border-radius: 10px;
}



#ownVideoStream {
  bottom: 13px;
  width: 7%;
  position: absolute;
  left: 1rem;
  display: flex;
  align-items: center;
}
#ownVideoStream video{
  width:100%;
}

#ownVideoStream p {
  font-size: 0.5em;
  margin-left: 1rem;
}

.remoteContainer__cams{
  display: flex;
  flex-wrap: wrap;
}

.otherPeopleDiv {
  /*float: left;*/
  width: 25%;
  /*height: 280px;*/
  padding: 10px;
}

.otherPeopleDiv video {
  width: 100%;
  height: 100%;
}

.usersInTeam{
  display:flex;
  width: 100%;
  list-style-type: none;
}


.you-left,
.remote-left,
.audio-button-true .on,
.video-button-true .on,
.video-button-false .off,
.fullscreen-button .on,
.room-occupied {
  display: none;
}
:-webkit-full-screen .fullscreen-button .on {
  display: block;
}
:-moz-full-screen .fullscreen-button .on {
  display: block;
}
:-ms-fullscreen .fullscreen-button .on {
  display: block;
}
:fullscreen .fullscreen-button .on { /* spec */
  display: block;
}
:-webkit-full-screen .fullscreen-button .off {
  display: none;
}
:-moz-full-screen .fullscreen-button .off {
  display: none;
}
:-ms-fullscreen .fullscreen-button .off {
  display: none;
}
:fullscreen .fullscreen-button .off { /* spec */
  display: none;
}
/* deeper elements */
:-webkit-full-screen video {
  width: 100%;
  height: 100%;
}
.guest-hangup + .auth .you-left {
  display: inline;
}
.full .room-occupied,
.host-hangup + .auth .remote-left,
.recent-room {
  display: block;
}
.recent-room {
  color: #4285F4;
  margin: 1ex 1em;
}
.remote-video {
  display: block;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.local-video {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  transition: all .3s;
}
.established .local-video {
  margin: 10px;
  max-height: 17%;
  max-width: 17%;
  height: auto;
  width: auto;
}
.media-bridge,
.local-video,
.remote-video {
  position: absolute;
  height: 100%;
  width: 100%;
}
.auth {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index:99999999;
}
.primary-button {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: #4285F4;
  background-color: #4abec6;
  border: none;
  color: white;
  font-size: 0.8em;
  margin: 0 5px 20px 5px;
  width: 8em;
  line-height: 3ex;
  padding: 1ex 0.7em;
  text-align: center;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 200px;
}
.media-controls {
  display: flex;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  right: 0;
  bottom: 1.5rem;
}
.svg {
  width: 3em;
}
.room-occupied,
.request-access,
.waiting,
.request-access,
.grant-access,
.waiting {
  overflow: hidden;
  padding: 0 1em;
  box-sizing: border-box;
  width: 100%;
  background: rgba(0, 0, 0, .8);
  /* Initially we don't want any height, and we want the contents to be hidden */
  max-height: 0;
  transition: max-height .3s ease;
}
.full + .auth .room-occupied,
.guest-hangup + .auth .request-access,
.join + .auth .request-access,
.approve + .auth .grant-access {
  transition-delay: .3s;
  /* Set the max-height to something large. In this case there's an obvious limit. */
  max-height: 20ex;
}
.host-hangup + .auth .waiting,
.create + .auth .waiting {
  /* Set the max-height to something large. In this case there's an obvious limit. */
  max-height: 20ex;
}
.established + .auth .hangup-button {
  display: flex;
}
#test{
  width: 100%;
}

.messages__container{
  padding: 0 5rem;
  text-align: left;
}

.row.mb-2{
  border-bottom: 1px solid rgba(209, 12, 118, .4);
}
.hidden{
  display: none;
}

.pulse {
  /* display: block; */
  box-shadow: 0 0 0 rgba(225, 255, 255, 0.65);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(225, 255, 255, 0.65);
    box-shadow: 0 0 0 0 rgba(225, 255, 255, 0.65);
  }
  70% {
      -moz-box-shadow: 0 0 0 20px rgba(230, 37, 41, 0);
      box-shadow: 0 0 0 20px rgba(230, 37, 41, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(230, 37, 41, 0);
      box-shadow: 0 0 0 0 rgba(230, 37, 41, 0);
  }
}

@media(max-width: 768px) {
  main{
    width: 100%;
  }
  .dashboard__article__game{
    width:100%;
  }

  .start__article__description{
    width: 90%;
  }


  .otherPeopleDiv{
    width:100%;
  }
  .ownVideo{
    width: 27%;
  }
}
